.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 /* Shared Style */
 .text-primary{
    color: #FD6E0A;
 }
 
 .dark-2{
      color: #474747;
 }

 .btn-primary{
background-color:#FD6E0A;
font-weight: 600px;
color: white;
padding: 18px 36px;
border-radius: 8px;
border: none;

}

/* Header */

.header{
background-image: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left ,bottom right;
}

/* Nav */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}

.nav-title{
    font-weight: 800px;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
   
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
  
}

/* Banner Design */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600px ;
}
.banner-title{
 font-size: 85px;
 font-weight: bold;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}